:root {
    --color-brown-900:#4C4015;
    --color-yellow-500: #FEEBA3;
    --color-yellow-200: #FFF7DA;
    --font-display: 'manteiga-gorda', sans-serif;
    --font-sans: 'josefin-sans', sans-serif;
    /* font-family: josefin-sans, sans-serif;
    font-family: manteiga-gorda, sans-serif; */

}     
    
*{
box-sizing: border-box;

}
body {
    height: 100vh;
    color: var(--color-brown-900);
    font-family: var(--font-sans);
}

.cover {
    
    position: fixed;
    width: 100%;
    height: 100%;
    left:0;
    top:0;
    background-color:var(--color-yellow-500);

    /*   nested grid */
    display: grid;
    grid-template-rows: 2fr, auto;
    grid-gap: .5rem;
    align-items: center;
    justify-items: center;
    text-align: center;
    transition:1s all;

}
.cover-content {
    grid-row: 1;
    display: grid;
    border-radius: 20px;
    border: 2px solid var(--color-brown-900);
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}

.cover button {
    border: 0;
    padding: ;

}
.cover img {
    /* width: 100%;
    height: 100%; */
    height:50vh;
    
}

.cover h1{
    padding-bottom: 2rem;
}

.cover h2{
    padding-bottom: 2rem;
}

.slide-up {
    grid-row: 2;
    margin: 0;
    padding-bottom: 1rem;
}
button {
    background-color: transparent;
}
.slide-up i {
    font-size: 2rem;
    color: var(--color-brown-900);
}

.slide-up p {
    font-size: .8rem;
    margin: 0;
    padding: 0;
}



h1 {
    font-family: var(--font-display);
    font-size: 4rem;
    overflow-wrap: break-word;
    line-height: 1;
    margin: 0;
}

h2 {
    font-weight: 200;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}


.open {
    transform: translateY(-100%);
}



.current {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: aut auto;
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
    margin: 0;
    padding-top:2rem;
    background-color: #fff;

}


.main-content {
    height: 100%;
    justify-self: center;
    justify-items: center;

}

.weather-hero img {
    height: auto;
    width: 100%;
 }
 
 .weather-hero p{
     text-align: center;
     padding-bottom: 3rem;
 }
 
.current h1 {
    font-size: 2.5rem;
    grid-column: 1 /span 2;
    grid-row: 1;

}
.current h2 {
    grid-row: 2;
    grid-column: 1 /span 2;
    font-size: 4rem;
    font-weight: 600;
}
.current h3 {
    margin-top: 0;
    font-size: 1.5rem;
}
.current p {
    margin: auto;
}
.lowest {
    grid-row: 2;
    grid-column: 1;
}
.highest {
    grid-row: 2;
    grid-column: 2;
}


.metrics {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   grid-gap: 1rem;
   /* justify-items: center; */
   text-align: center;
   /* background-color: var(--color-yellow-200);
   border-radius: 15px; */
   margin: 0 2rem;
}
.metrics  h4 {
    margin: 1rem 0;
}
.humidity {
   grid-row: 1;
   grid-column: 1;
   background-color: var(--color-yellow-500);
   border-radius: 15px;
   padding: 0 1.5rem;

}

.humidity p {
font-size: 2rem;

}



.feels-like {
   grid-row: 1;
   grid-column: 2;
   background-color: var(--color-yellow-500);
   border-radius: 15px;
   padding: 0 1.5rem;
}

.feels-like p {
    font-size: 2rem;
    
    }

.sun {
   grid-row: 2;
   grid-column: 1;
   display: grid;
}
.sunrise {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   justify-items: center;
   background-color: var(--color-yellow-500);
   border-radius: 15px;
   margin-bottom: .5rem;
   font-size: 1.2rem;
}

.sunrise img {
    width: 80%;
    justify-self: start;

}
.sunrise p {
   margin: 0;
}

.sunset {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   justify-items: center;
   background-color: var(--color-yellow-500);
   border-radius: 15px;
   font-size: 1.2rem;
}

.sunset img {
    width: 80%;
    justify-self: end;

}
.sunset p {
   margin: 0;
}


.uv-index {
   grid-row: 2;
   grid-column: 2;
   background-color: var(--color-yellow-500);
   border-radius: 15px;
   padding: 0 1.5rem;

}
.uv-index p {
    font-size: 2rem;
    
    }


.week-temp {
    padding-top: 1.5rem;
    margin: 0 2rem;
}

.week-temp p{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding-top: 2rem;
}





.extended {
    height: 100%;
    padding: 0 2rem;
}

.extended img {
    height: auto;
    width: 100%;
 }
 
 
.extended ul {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;

}
.extended li {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;

}


.extended li:nth-child(odd) {
    background-color: var(--color-yellow-200);

}
.extended .day {
font-size: 1.5rem;
}

.extended .low {
    font-size: 1.5rem;
}

.extended .high {
    font-size: 1.5rem;
}


/* different themes */

.cloudy {

}

.rainy {

}

.sunny {
background-color: red;
}

.clear {
    
}
